body {
    background-color: aquamarine;
}

figure {
    margin: 40px auto;
    width: 400px;
}

/*
figure img {
    width: 100%;
    transition: all 0.5s;
}
*/

.rotate img:hover {
    transform: rotate(3500deg);
    transition: all 5s;
}

.rotate img:hover {
    transform: rotate(3500deg) scale(3);
    transition: all 5s;
}
/*


figure img {
    transform-origin: 15% 25%;
    width: 100%;
    transition: all 0.5s;
}


.rotate img:hover {

    transform: scale 3;
    transition: all 5s;
}*/
